html,
body,
header,
.view {
  height: 90%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 50vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  background-color: darkslategray;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: darkslategray !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.item {
  padding: 15px;
}


@media (max-width: 991px) {
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  text-align: center;
}
}

.container {
  width: 100%;
  max-width: none; /* Remove the fixed max-width */
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px; /* Adjust padding as needed */
  padding-right: 15px;
}

.col-md-12.align-right.shadow.p-3.mb-5.gx-1.bg-white.rounded {
  width: 100%;
  margin: 0 auto;
  text-align: center; /* Center text content */
}

.col-md-12.align-right.shadow.p-3.mb-5.gx-1.bg-white.rounded > div {
  width: 100%; /* Make child divs take full width */
}

.iframe-container {
  width: 400px; /* Default: 50% each */
  height: 250px;
  display: flex;
  box-sizing: border-box; /* Include padding and border in the width */
}

@media (max-width: 768px) {
  .col-5,
  .iframe-container {
    width: 100%; /* 100% width on smaller screens */
    display: flex;
    place-items: center;
  }
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  h6 {
    width: 100%;
  }
}


.text-justify {
  text-align: justify;
}




